[submodule ".registry"]
	path = .registry
	url = https://github.com/nmfs-ost/nmfs-ost.r-universe.dev
	branch = HEAD
[submodule "asar"]
	path = asar
	url = https://github.com/nmfs-ost/asar
[submodule "satf"]
	path = satf
	url = https://github.com/nmfs-ost/satf
